:root {
    --link-color: #212121;
    --text-color: #757575;
    --link-color-origin: #2196F3;
    --white-color: #FFFFFF;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --hero-back-color: #2F303A;
    --backgroundcolor:   #FFFFFF;
}

/* html {
    box-sizing: border-box;}

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    } */

.body-port {
    font-family: roboto ,sans-serif;
    background-color: #FFFFFF;
}
body {
    margin: 0 ;
    font-family: roboto ,sans-serif;
    /* background-color: #FFFFFF; */
    

}
li {
    list-style: none;
    /* outline: 1px solid red ; */
    }
h1,h2 {
    margin: 0;
}
a {
    text-decoration: none;}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid tomato; */
    /* background-color: wheat; */
        /* box-sizing: border-box; */
        }
    
/* site-nav */
.head-container {
background-color: var(--backgroundcolor)
}
.head-container>div {
    display: flex;
    align-items: center;
}
.main-nav  {
    flex-basis: 100%;
    display: flex;
    align-items: center;
} 
.nav-list {
    padding: 0px;
    display: flex;
    align-items: center;
}
.nav-list li {
    margin-right: 50px;
    }
.nav-list li:last-child {
    margin-right: 0px;
}
.nav-contact {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.nav-contact li:last-child {
    margin-left: 50px;

}
.navigation {    
    color: var(--link-color);
    font-weight: 500;
    /* font-style: normal; */
    font-size: 14px;
    line-height: 16px;
  }

.navigation:hover,
.navigation:focus {
    color: var(--link-color-origin);}

.nav-list .navigation.current {
    color: var(--link-color-origin);}
.navigation-contact {
    display: inline-block;
    /* width: 122px; */
    color: var(--text-color);
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;}
/* .navigation-contact span {

} */
.navigation-contact:hover,
.navigation-contact:focus {
    color: var(--link-color-origin);}
    /* logo */
.logo {margin-bottom: 24px;
    margin-top: 24px;
    margin-right: 93px;
    color:  var(--link-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    line-height: 30px;}

.logo-web {
    color: var(--link-color-origin);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    line-height: 30px;
}


    /* Hero */
.hero {
    display: block;
    max-width: 1600px;
    min-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color:var(--hero-back-color);
    }

.hero-item {
    display: block;
    width: 606px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 45px;
    padding-right: 45px;
    color: var(--white-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
     
    }
.hero-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
    margin-top: 30px;
    color: var(--white-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: #2196F3;
    border-radius:  4px;
    border: none;
   }
   /* advantage */
/* .advant  */
.section {
    background-color: var(--backgroundcolor);
    padding-top: 94px;
    padding-bottom: 94px;
}
b {
    color: var(--link-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    }

.advantage {
    display: flex;
    /* padding: 0; */
    /* margin-left: auto;
    margin-right: auto; */
    margin-top: 0;
    margin-bottom: 0;
    justify-content: space-between;

    /* background-color: #E5E5E5; */

}

.advantage-list { 
    /* display: flex; */
    height: 101px;
    width: 270px;
    margin-right: 30px;
} 
.advantage li:last-child {
    margin-right:0;
}
.advantage-item {
    /* display: flex; */
    margin-bottom: 10px;
    width: 270px;
    height: 16px;
    
} 
.advantage-text {
    display: block;
    width: 270px;
    height: 75px;
    color: var(--text-color);
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin-top: 10px;
}
/* чем мы занимаемся */

.section-work {
    /* background-color: #E5E5E5; */
    padding-bottom: 94px;
    background-color: var(--backgroundcolor);
     
}
/* .section h2 {
    margin-bottom: 50px;
    
} */
.working-box {
    display: flex;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding: 0;
    justify-content: space-between;
    
}
.working-box li {
    margin-right: 30px;
}
.working-box li:last-child {
    margin-right: 0px;
}
.working-item {

}
/* .working-box li:first-child {
    margin-left: 215px;
} */


/* team-section */
.section-team {
    margin-left: auto;
    margin-right: auto;
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
    }
.section-team h2 {
    margin-bottom: 50px;
}
.section-card {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        justify-content: space-between;
}
.profi-card {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    height: 368px;
    width: 270px;
    margin-right: 30px;
}
.profi-card:last-child {
    margin-right: 0px;
}
.profi-card:first-child {
    /* margin-left: 215px; */
}
/* .proffesion {} */
.proffesion>h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    color: var(--link-color) ;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
.proffesion>p {
    margin-bottom: 30px;
    text-align: center;
    color: var(--text-color);
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    }
/* footer */
.footer-sektion {
    background-color: var(--hero-back-color);
    padding-bottom: 10px;

}
.footer-container { 
    margin-left: auto;
    margin-right: auto;
    color: var(--white-color);
    }
.footer-container>a {
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 20px;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
}
.footer-container li {
    margin-top: 9px;
    margin-bottom: 9px;
}
.contact {
    display: block;
    font-family: roboto, sans-serif;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.footer-container ul {
    padding: 0;
    margin-top: 9px;
}
.footer-container ul>li {
    margin: 0;
}
.footer-link {
    display: inline-block;
    margin-top: 9px;
    /* margin-bottom: 60px; */
    color: var(--text-color);
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.footer-item {
    margin-bottom: 60px;
}
/* .footer-link:hover,
.footer-link:focus {
    border: 2px solid #ff0000;
} */
 .contact:focus {
    border: 2px solid #ff0000;
} */

/* ---------------------page2 ------------------------------------------------------*/
/* button-list */
.portfolio-project {
    background-color: var(--white-color);
       
  }
.port-list {
    
    display: flex; 
    justify-content: center;  
    border-top: 1px solid #ECECEC;
    padding-top: 93px;
    padding-bottom: 56px;
    padding-left: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}
.button-radio {    
    margin-right: 8px;
    padding-left: 22px;
    padding-right: 22px;
    height: 38px;
    background-color: #F5F4FA;
    color: var(--link-color);
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    }
    .port-list>.button-radio:last-child>  {
        margin-right: 0;
    }
.button-radio:hover,
.button-radio:focus {
    background-color: var(--link-color-origin);
    color: var(--white-color);
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
}

.works-list {
    /* width: 1230; */
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    }
.works {
    display: block;
        /* margin-left: auto; */
    height: 404px;
    width: 370px;
    
}
.work-link {
     margin-right: 30px;
    /* margin-left: auto; */
    margin-bottom: 30px;
    height: 404px;
    width: 370px;
    border: 1px solid #EEEEEE;
}
.work-link:nth-child(3n) {
    margin-right: auto;
}
.work-link:nth-last-child(3n) {
    margin-left:auto ;
}
.work-link:nth-last-child( -n + 3) {
    margin-bottom: 94px;
}


 .works>h2 { 
    display: inline-block;
    margin-top: 20px;
    margin-left: 24px;
    background-color: var(--white-color);
    color: var(--link-color);
    text-align: left;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em; } 
.works>p {
    margin-left: 24px;
    margin-bottom: 20px;
    color: var(--text-color);
    background-color: var(--white-color);  
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: left;
}
.works:hover,
.works:focus {
    /* border: 1px solid rgba(33, 150, 243, 0.9);; */
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* .works { background-color: var(--white-color);} */
/* 
212121  #2196F3   FFFFFF
 text 757575
 */